streamlit
groq
langchain
langchain-community
faiss-cpu
transformers
sentence-transformers
torch
nomic
pymupdf
pdf2image
pillow
python-docx
easyocr
numpy
tqdm
openai
ollama
huggingface-hub
protobuf==4.21.12
opentelemetry-api>=1.15.0
opentelemetry-sdk>=1.15.0
opentelemetry-exporter-otlp>=1.15.0